/** @format */

@use "../../libs/normalize.css/normalize.scss";

.nav-link {
  color: #0ff583;
}

.active {
  color: #0cc0f5 !important;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #8b08d4;
}

.dropdown-item {
  color: white;
}
.header {
  top: 0;
  right: 0;
  left: 0;
  max-height: 80px;
  z-index: 10;
}
.main {
  margin-top: 80px;
  margin-bottom: 30px;
}
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  max-height: max-content;
  z-index: 10;
}
