/** @format */

@use "../../libs/normalize.css/normalize.scss";

.nav-link {
  color: #0ff583;
}
.active {
  color: #0cc0f5 !important;
  font-weight: bold;
}
.dropdown-menu {
  background-color: #8b08d4;
}

.dropdown-item {
  color: white;
}
